/* Fondo global */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 228, 196);
    color: #333;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Imagen del libro */
.book-cover {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Título del libro */
#book-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Autor del libro */
#book-author {
    font-style: italic;
    color: #555;
}

#book-status {
    font-size: 1.1rem;
    font-weight: bold;
}

button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
